.info-pane {
    display:grid;
    grid-template: auto / 1fr 1fr;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    position:relative;
    background-color: #FEFEFE;
}

.info-pane:hover {
    filter: brightness(98%);
}

dialog {
    background-color: #7d8a95;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.new-cv-dialog > .info-form , .info-form > label {
    display: flex;
    gap: 1rem; 
    align-items: center;
}

.new-cv-dialog {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: fit-content;
}

.accept-new , .cancel-new {
    margin: 0 1rem;
}
.info-form > label > input {
    padding: 5px 1rem;
    border-radius: 5px;
    background-color: #FEFEFE;
    border: 1px solid white;
    color: #121212;
}

.warning {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    background-color: #FEFEFE;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    height: min-content;
}

.warning > h2 {
    grid-column: span 2;
}
.new-cv-dialog {
    z-index: 4;
}

input, textarea {
    background-color: #FEFEFE;
    color: black;
}

.info-pane:hover > .delete-info , .info-pane:hover > .edit-info {
    display: flex;
}

.body-text, .start, .finished {
    margin: 1rem 0 0;
    justify-self: left;
}

.title, .body-text {
    grid-column: span 2;
}
.body-text {
    text-align: left;
}
.title {
    justify-self: left;
}

.section-form {
    display: grid;
    grid-template: auto / 1fr 1fr;
    padding: 1rem 2rem;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.title-in , .body-in {
    grid-column: span 2;
}

.section-form > label {
    margin-bottom: 1rem;
    display: grid;
    text-align: left;
}

.title-in {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
}

.start-in, .end-in {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.title-in > input {
    grid-column: 2 / 5;
}

.section-form > label > input, .section-form > label > textarea {
    padding: 5px;
    border: 1px solid gray;
}

.section-submit, .section-cancel {
    grid-column: span 1;
}

.delete-info, .edit-info {
    position:absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: none;
    padding:0;
    justify-content: center;
    align-items: center;
}

.edit-info {
    top: 1rem;
    right: 3.5rem;
}

.delete-info > img , .edit-info > img {
    width: 16px;
    height: 16px;
}

.info-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #7d8a95;
    color: #FEFEFE;
    width: fit-content;
    top: 3rem;
    left: 0;
    right: 0;
    margin: auto;
}

dialog > .info-form {
    border: 0;
}
.info-form > label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 1rem;
}

.info-form > label > input {
    margin-left: 1rem;
}

h3 {
    text-align: left;
    margin: 0 2rem 1rem;
}

.resume > h1 {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

