#root {
  margin: 0 auto;
  position:relative;
  padding: 2rem;
  text-align: center;
  background-color: white;
  width: min(85dvw,800px)
}

.no-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
  height: fit-content;
  color: #c9c9cb;
}
.no-page > img {
  filter: invert(87%) sepia(4%) saturate(84%) hue-rotate(201deg) brightness(98%) contrast(81%);
  width: 10rem;
}

.hint-hand {
  position: absolute;
  filter: invert(87%) sepia(4%) saturate(84%) hue-rotate(201deg) brightness(98%) contrast(81%);
  top: 8rem;
  left: 6rem;
  animation: 1s gesture infinite alternate;
  animation-timing-function: linear;
}

@keyframes gesture {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
  
}

@media print {
  button.no-print {
    display:none;
  }
  div.no-print {
    display:none;
  }
  div.resume {
    border: 0;
    padding: 0;
  }
  .resume .section {
    margin: 0 1rem;
    padding: 0 1rem;
  }
  .resume .section:first-of-type {
    margin-top: 1rem;
  }
  .resume h3 {
    margin: 0 3rem;
    font-size: small;
  }
  .section h2 {
    font-size: medium;
    border: 0;
  }
  .section .info-pane {
    padding-left: 0;
    font-size: small;
    margin:0;
    padding: 0 0 1rem 0;
  }
  .section .info-pane div {
    margin: 0;
  }
  .section .info-pane .title {
    font-style: italic;
  }
  .section .info-pane .start,
  .section .info-pane .body-text {
    margin-left: 1rem;
  }
  form {
    display:none;
  }
}

@media (max-width: 500px) {
  .file-menu > h1 {
    font-size: 2em;
  }
  .hint-hand {
    left: 4rem;
  }
  #root {
    width: 100vw;
    padding: 1rem;
  }
  .footer {
    display: none;
  }
  .add.add-button-container {
    width: fit-content;
     display: inline-block;
    margin-left: 1rem;
  }
  .update-details {
    display: inline;
  }
  .update-details, .add.add-button-container {
    position:relative;
    margin-bottom: 1rem;
    top: 0;
    right: 0;
  }
  .resume {
    padding: 1rem 0;
    border-radius: 0;
    background-color: white;
  }
  .resume h3 {
    margin: 0 1rem 1rem
  } 
  .section {
    margin: 1rem 0 1rem;
  }
  .section-form .start-in,
  .section-form .end-in {
    grid-template-columns: 1fr;
  }
}